<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LancerServletIndex</servlet-name>
        <servlet-class>projetFilRouge.servlet.IndexServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LancerServletIndex</servlet-name>
        <url-pattern>/index_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestProduits</display-name>
        <servlet-name>TestProduits</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestProduits</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestProduits</servlet-name>
        <url-pattern>/produits_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestContact</display-name>
        <servlet-name>TestContact</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestContact</servlet-name>
        <url-pattern>/contact_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestPanier</display-name>
        <servlet-name>TestPanier</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestPanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestPanier</servlet-name>
        <url-pattern>/panier_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestProductDetail</display-name>
        <servlet-name>TestProductDetail</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestProductDetail</servlet-name>
        <url-pattern>/product-detail_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestProduitSeul</display-name>
        <servlet-name>TestProduitSeul</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestProduitSeul</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestProduitSeul</servlet-name>
        <url-pattern>/product-seul_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestAbout</display-name>
        <servlet-name>TestAbout</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestAbout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestAbout</servlet-name>
        <url-pattern>/about_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestBlog</display-name>
        <servlet-name>TestBlog</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestBlog</servlet-name>
        <url-pattern>/blog_page</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TestLoginMobile</display-name>
        <servlet-name>TestLoginMobile</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestLoginMobile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestLoginMobile</servlet-name>
        <url-pattern>/loginMobil_page</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description/>
        <display-name>TestValiderCompte</display-name>
        <servlet-name>TestValiderCompte</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestValiderCompte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestValiderCompte</servlet-name>
        <url-pattern>/validerCompte_page</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>TestRegistrerClient</servlet-name>
        <servlet-class>projetFilRouge.servlet.TestRegistrerClient</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TestRegistrerClient</servlet-name>
        <url-pattern>/registrer_page</url-pattern>
    </servlet-mapping>
</web-app>
